services:
  db:
    image: mysql
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./:/var/lib/data
    ports:
      - "3306:3306"

    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=true